/* 

Template 2091 Ziggy

http://www.tooplate.com/view/2091-ziggy

*/

/*============
BASIC STYLE
============*/

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

p {
	font-size: 13px;
	color: #7a7a7a;
	line-height: 22px;
}

.text-center {
	padding-bottom: 30px;
	color: #000;
}
.primary-button a {
	text-decoration: none;
	padding: 10px 18px;
	display: inline-block;
	border-radius: 24px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}


/* ======================
----- FIRST SECTION------
=======================*/
header {
	background: #000;
	position: absolute;
	top: 0;
	height: 65px;
	width: 100%;
	z-index: 600;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	padding: 10px 0;
	margin-top: 15px;
	z-index: 600;
	position: absolute;
	left: 80px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 100px;
	height: 95px;
	background: url("../img/Logo.png") no-repeat center;
	background-size: 100px 65px;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


nav {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav li>a.active {
	color: #f0f000;
	text-decoration: none;

}
a:focus {
	color: #f0f000;!important;
	text-decoration: none;!important;
}
nav a.active:before {
	width: 100%;
}

nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav li>a:hover {
	color: #FFE700 ;
	text-decoration: none;
}

nav li>a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #FFE700;

	position: absolute;
	top: 0;
	width: 0;

	transition: all ease-in-out 250ms;
}

nav li>a:hover::before {
	width: 100%;
}

.topnav .icon {
	display: none;
}

.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	opacity: 0.9;
	z-index: 100;
	border-top: 0;
}

.sticky .logo {
	margin-top: 2px;
	opacity: 1!important;
}

.sticky .logo a {
	width: 65px;
	height: 60px;
	background-size: 60px 45px;
}

@media screen and (max-width: 600px) {
	.topnav a {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
	.disabled:hover {
		text-decoration: none;
		color: #FFE700;
	}
	.logo {
		display: none;
	}

	#upbutton {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: black;
		font-size: 8px;
		width:100%;
		text-align: center;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive li {
		margin-left: 0;
	}

	.topnav.responsive li>a {
		display: block;
		text-align: center;
		font-size: 6px;
	}



}

.first-section {
	background-color: #000;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 20% 0px 20% 0px;
	position: relative;
	z-index: 1;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);

}

.first-section .text-content {
	text-align: right;
	color: #fff;
	margin-bottom: 60px;
}

.first-section .text-content h2 {
	font-size: 44px;
	font-weight: 900;
	letter-spacing: 1px;
}

.first-section .text-content .line-dec {
	width: 60px;
	height: 3px;
	background-color: #FFE700;
	margin: 25px 0px 35px auto;
}

.first-section .text-content .frst {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	letter-spacing: 1px;
}


/* ======================
---- SECOND SECTION------
=======================*/

.second-section {
	padding: 140px 0 60px 0;
}

.second-section .service-item {
	text-align: center;
}

.second-section .service-item .icon img {
	max-width: 100%;
	overflow: hidden;
}

.second-section em {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

.second-section h4{
	/*margin-top: 60px;*/
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.second-section h5 {
	font-size: 18px;
}


/* ======================
----- THIRD SECTION------
=======================*/

.third-section {
	background-color: #FFE700;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	/*padding: 140px 0 60px 0;*/
	padding: 13% 0 12% 0;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.third-section .left-image img {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.third-section .right-text {
	display: inline;
}

.third-section em {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

.third-section h4 {
	margin-top: 60px;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.third-section p {
	color: #000;
	margin-top: 15px;
}


/* ======================
---- FOURTH SECTION -----
=======================*/

.fourth-section {
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 100px 0 80px 0;
}

.fourth-section em {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

.fourth-section h4{
	/*margin-top: 60px;*/
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}



.fourth-section .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
}

.fourth-section img {
	width: 100%;
	overflow: hidden;
}

.fourth-section .first-item .text {
	background-color: #ffff33;
}

.fourth-section .second-item .text {
	background-color: #ffff00;
}

.fourth-section .third-item .text {
	background-color: #ffff1a;
}

.fourth-section .text {
	padding: 20px 25px;
}

.fourth-section .text span {
	font-size: 13px;
	color: #000;
}

.fourth-section .portfolio-item .text h4 {
	font-size: 17px;
	color: #000;
	font-weight: 700;
}

.fourth-section .send-to-portfolio {
	background-color: #000;
	text-align: center;
	padding:  46.7% 0px;
}

.fourth-section .send-to-portfolio span {
	display: inline-block;
	font-size: 13px;
	color: #fff;
}

.fourth-section .send-to-portfolio .primary-button {
	margin-top: 20px;
}

.fourth-section .send-to-portfolio .primary-button a {
	background-color: #fff;
	color: #000;
}

.fourth-section .send-to-portfolio .primary-button a:hover {
	background-color: #000;
	color: #fff;
	transition: all 0.3s;
}


/* ======================
----- FIVTH SECTION------
=======================*/

.fivth-section {
	/*background-image: url(../img/fivth-section-bg.png);*/
	background-color: black;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 40px;
	padding: 150px 0 85px 0;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.fivth-section .right-image {
	vertical-align: middle;
}

.fivth-section .right-image img {
	max-width: 100%;
	overflow: hidden;
	text-align: center;
}

.fivth-section .left-text {
	display: inline;
	text-align: right;
}

.fivth-section em {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

.fivth-section h4 {
	margin-top: 60px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.fivth-section p {
	color: #fff;
	margin-top: 15px;
}
.fivth-section .logo-wrapper {
	padding-bottom: 20px;
}
/* ======================
----- SIXTH SECTION------
=======================*/

.sixth-section {
	background-image: url(../img/sixth-section-bg.png);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 10% 0px;
}

.sixth-section input {
	padding-left: 15px;
	font-size: 13px;
	color: #7a7a7a;
	border: 1px solid #eee;
	outline: none;
	height: 44px;
	border-radius: 22px;
	width: 100%;
	margin-bottom: 30px;
}

.sixth-section textarea {
	border-radius: 22px;
	border: 1px solid #eee;
	padding: 15px;
	font-size: 13px;
	color: #7a7a7a;
	outline: none;
	margin-bottom: 25px;
	height: 180px;
	max-height: 250px;
	width: 100%;
	max-width: 100%;
	max-height: 240px;
	display: inline-block;
}

.sixth-section button {
	text-decoration: none;
	padding: 10px 18px;
	display: inline-block;
	border-radius: 24px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
}

.sixth-section button:hover {
	color: #fff;
	background-color: #000;
	transition: all 0.3s;
}

.sixth-section .right-info {
	margin-left: 20px;
}

.sixth-section .right-info ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sixth-section .right-info ul li {
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
}

.sixth-section .right-info ul li a {
	text-decoration: none;
	color: #000;
}

.sixth-section .right-info ul li i {
	margin-right: 15px;
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #000;
	border-radius: 50%;
	border: 1px solid #000;
	font-size: 18px;
}

/* ======================
----- FOOTER SECTION ----
=======================*/

footer {
	text-align: center;
	/*background-image: url(../img/footer-bg.png);*/
	background-color: #FFE700;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	padding: 11% 0px 4% 0px;
	-webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
	clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
	margin: 0 3px;
}

footer ul li a {
	font-size: 16px;
	color: #000;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
}

footer ul li a:hover {
	background-color: #FFE700;
	color: #000;
	transition: all 0.3s;
}

footer p {
	margin-top: 20px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.2px;
	color: #000;
}

footer em {
	font-style: normal;
	font-weight: 600;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #000;
	text-decoration: none;
}

/* ======================
-- RESPONSIVE SECTION ---
=======================*/

@media (max-width: 1200px){

	.fourth-section .send-to-portfolio {
		padding:  47.5% 0px;
	}

}

@media (max-width: 992px){

	.fourth-section .send-to-portfolio {
		padding:  45.8% 0px;
	}

	.third-section {
		text-align: center;
	}

	.third-section .right-text {
		text-align: center;
	}

	.third-section .left-image img {
		width: 50%;
	}

	.fivth-section {
		text-align: center;
	}

	.fivth-section .left-text {
		text-align: left;
	}

	.fivth-section .right-image img {
		margin-top: 30px;
		width: 50%;
	}

	.sixth-section .right-info {
		text-align: left;
		margin-left: 0px;
		margin-top: 45px;
	}

}

@media (max-width: 850px){

	.logo {
		display: none;
	}

	.send-to-home  {
		margin-top: 80px;
	}

	.first-gallery-section {
		padding: 10% 0px 40% 0px;
	}

	.first-section {
		padding: 150px 0px 200px 0px;
	}

	.first-section .text-content {
		text-align: center;
	}

	.first-section .text-content .line-dec {
		margin: 25px auto;
	}

	.second-section {
		padding: 50px 0px 0px 0px;
	}

	.second-section .service-item {
		margin-bottom: 50px;
	}

	.third-section {
		margin-top: -50px;
		text-align: center;
		padding: 250px 0px 150px 0px;
	}

	.third-section .right-text {
		text-align: center;
	}

	.fourth-section {
		padding: 150px 0px;
	}

	.fourth-section .col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.fourth-section .portfolio-item {
		margin-bottom: 30px;
	}

	.fourth-section .send-to-portfolio {
		padding:  46% 0px;
	}

	.fivth-section {
		text-align: center;
		padding: 50px 0px 150px 0px;
	}

	.fivth-section .left-text {
		text-align: left;
		margin-bottom: 30px;
		display: inline-block;
	}

	.sixth-section {
		text-align: center;
		padding: 0px 0px 0px 0px;
	}

	.sixth-section .right-info {
		text-align: left;
		margin-left: 0px;
		margin-top: 45px;
	}

	footer {
		margin-top: -50px;
		padding: 200px 0px 20px 0px;
	}
}


@media (max-width: 590px){

	.third-section {
		text-align: center;
	}

	.third-section .left-image img {
		width: 80%;
	}

	.fivth-section {
		text-align: center;
	}

	.fivth-section .right-image img {
		width: 80%;
	}
	
}

/*========================================
----------- LIGHT BOX STYLE ------------
========================================*/

/* Preload images */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  margin-top: 5%;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Slider */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*overflow: hidden;*/
  /* Center slide text vertically */
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Text Overlay */
#lab_video_text_overlay h2 {
  font-size:4em
}

#lab_video_text_overlay .btn {
  border-radius:0;
  text-transform:uppercase;
  font-weight:200;
}
#lab_video_text_overlay .btn-warning {
  background-color:#F5D328;
}

#lab_video_text_overlay {
  position: fixed;
  color: #FFF;
  width: 100%;
  top: 25%;
}

#lab_video_text_overlay .container {
  text-align: center;
  margin: 0px auto;
  /*background-color: #669900;*/
}

@media screen and (max-width:991px) {
  #lab_video_text_wrap {
    height: 300px;
  }
}

@media screen and (max-width:650px) {
  #lab_video_text_wrap {
    height: 250px;
  }
  #lab_video_text_overlay h2 {
    font-size: 2em;
  }
  #lab_video_text_overlay p {
    font-size: .9em;
  }
}

#upbutton {
	background: url("../img/up1.png") no-repeat top left;
	height: 60px;
	width: 60px;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 999;
}

#custom {
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: auto;  
	margin: auto;
	padding-top: 2%;
	z-index: 555555;
	display: none;
	justify-content: center;
}

#custom .close-btn{
	position: absolute;
	background: none;
	border: none;
	font-size: 24px;
	color: #F5D328;
	right: 0;
	width:auto;
	height:25px;
	z-index: 5555555;
}

#custom .close-btn:active{

}

#my-player{
	position: relative;
	display: flex;
	align-self: center;
	align-items: center;
	align-content: center;
	z-index: 555555;
}

.col-lg-2 img{
	margin-top: 50px;
	max-width: 100px;
}